version: '3.9'
services:
  redis:
    container_name: redis_container
    image: redis:alpine
    restart: always
    ports:
      - '6379:6379'  
    command: redis-server --loglevel warning
    volumes: 
      - ./docker-volumes/cache:/data

  mongodb:
    container_name: mongodb_container
    image: mongo:lasted    
    restart: always
    ports:
      - 27017:27017
    volumes:
      - ./docker-volumes/data:/data/db  

  mysql:
    container_name: mysql_container
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      - MYSQL_USER: jobber
      - MYSQL_DATABASE: jobber_Auth
      - MYSQL_ROOT_PASSWORD: api
      - MYSQL_PASSWORD: api
    ports:
      - '3306:3306'   
    volumes:
      - ./docker-volumes/mysql:/var/lib/mysql

  postgres:
    container_name: postgres_container
    image: postgres
    restart: always
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    environment:
      - POSTGRES_USER: jobber
      - POSTGRES_PASSWORD: api   
      - POSTGRES_DB: jobber_reviews 
    ports:
      - '5432:5432'   
      # - 8080:8080  
    volumes:
      - ./docker-volumes/postgres:/var/lib/postgresql/data

  rabbitmq:
    container_name: rabbitmq_container
    image: rabbitmq:4.0-rc-management-alpineâ  
    restart: always
    ports: 
      # AMQP protocol port -> this use to access from our application
      - "5672:5672"
      # Management UI port -> this use to access dashboard
      - "15672:15672"    # also i can use 8080 port
        

            


